header {
    overflow: hidden;
    background-color: #3085C3;
    padding: 20px 10px;
    font-size: 25px;
    font-weight: bold;
}

/* Aqui se edita la animacion del logo y el 
responsiveness del logo y la posicion del logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: logo;
    animation-duration: 4s;
}
@media screen and (max-width: 550px) {
    .logo_img{
        width: 300px;
        height: auto;
    }
}
@keyframes logo {
    from {top: -400px;}
    to {top: 0px;}
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3085C3;
    padding: 12px;
    font-size: 18px; 
    line-height: 25px;;
}
  
nav a {
    color: black;
    padding: 12px;
    font-size: 30px; 
    line-height: 25px;
    text-decoration: none;
}
@media screen and (max-width: 550px) {
    nav a {
        color: black;
        padding: 12px;
        font-size: 20px; 
        line-height: 25px;
        text-decoration: none;
    }
}
nav a:hover {
    background-color: #F4E869;
    border-radius: 10px;
    color: black;
}

footer{
    overflow: hidden;
    background-color: #3085C3;
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
}