section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

h1{
    font-size: 45px;
    margin-bottom: 20px;
}

section a{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: black;
}

section img{
    border-radius: 10px;
}

.hotel_mv{
    display: flex;
    background-color: #5CD2E6;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.imagen{
    float: left;
}

.iconos{
    float: left;
}

@media screen and (max) {
    
}

@media screen and (max-width: 800px) {
    .imagen, .iconos{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }