/* Galeria de imagenes */
#galeria div {
    border: 1px solid #ccc;
}

#galeria div:hover {
    border: 1px solid #777;
}

#galeria div img {
    width: 100%;
    height: auto;
}

#galeria div p {
    padding: 15px;
    text-align: center;
    margin: 0;
}

#galeria * {
    box-sizing: border-box;
    margin-bottom: 5px;
}

#galeria article {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    #galeria article{
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    #galeria article {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* estilos de header */

h1 {
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: #F4E869;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 35px;
        margin-bottom: 5px;
        margin-top: 0px;
        background-color: #F4E869;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
}
/* Contenido HOtel */

section{
    text-align: center;
}
/* editar la caja onde esta los imagenes del hotel,
iconos y su responsivness */
.hotel_mv {
    display: flex;
    background-color: #5CD2E6;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .hotel_mv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
    }
}

/* estilo del descripcion y iconos del hotel */
.descripcion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

@media screen and (max-width: 900px) {
    .descripcion {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
    }
}

h2 {
    text-decoration: solid;
    font-size: 25px;
    margin: 0;
    background-color: #F4E869;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
}

p {
    text-align: justify;
}

.iconos {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    float: left;
}

.star {
    margin: 15px;
}

.habitacion {
    margin: 15px;
}

.precio {
    margin: 15px;
}

.descripcion a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 0;
    background-color: #F4E869;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
}

/* zona del button de notas */

#note-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* comentarios abajo de la nota */

.small-comment-section {
    width: 200px;
    margin-top: 20px;
}

#small-comment-form {
    display: flex;
    flex-direction: column;
}

#small-comment-form textarea {
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#small-comment-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* zona de comentrios css */
.comment-section {
    width: 100%;
    margin-top: 25px;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form input,
#comment-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#comment-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}